</div> <!-- container div -->
<hr>

<p class="text-center">
    Copyright: haotian9850.com 2018
</p>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>
